@page
@model IndexModel
@{
    ViewData["Title"] = "Stella Commerce Portal";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is your Stella Commerce Merchant Portal provided by Polaris Payments. We hope you enjoy using the platform today!</p>
</div>
